@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
	
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
	
}

h3 {
	font-size: 1.5em;
}

p {
	font-size:.8rem;
}

.album-art {
	width:15%;
	padding:1rem;
	border: 1px solid red;
	float:left;
	margin-right: 2rem;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	width:20%;
	border: 1px red solid;
	padding: 1rem;
	float: left;
	margin-right:1rem;
}

.record-label {
	color:red;
	font-style:italic;
}

.track-list {
 padding:1rem;
}

#about-photo {
	width: 25%;
	border: 1px red solid;
	float:left;
	margin-right: 1rem;
	padding:1rem;
}

#copyright {
 color:red;
}

#section-about, #section-discography, #section-equipment {
 border: 1px red solid;
 margin: 1rem;
 padding: 2rem;
 
}

#text-intro {
	border:2px red solid;
	padding: 1rem;
	background-color: rgb(65, 65, 65);
	color:red;
	margin:1rem;
}